          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '35' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> CAFES                 ___cafeteria____35ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
