          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '37' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____37be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '39' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> GASEOSAS              ____bebidas_____39be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '41' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> APERITIV/CHAMPAG/WHI  ____bebidas_____41be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '45' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> EXPRIMIDOS            ____bebidas_____45be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
