    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO PORCION . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/ANANA . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/PALMITOS .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON DE AVE . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZARELLITAS ACEITE OLIVA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MOZZARELLA . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PORCION DE RABAS . .  $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS . . . . . . . .  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC CANCHA/AJO/FUGAZZA .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZA . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGA RELLENA . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGAZZA RELL C/JAMON $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA CLASICA . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZARELLA Y JAMON  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZARELLA Y MORRON $500</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE JAMON Y MORRONES . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE DE ANCHOAS . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA (CEBOLLA Y OREG)  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA (MUZZAR Y CEBOL $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITANA . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITANA Y JAMON $610</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CALABRESA . . . .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA CLASICA . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZARELLA Y JAMON . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZARELLA Y MORRONE $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y MORRONES .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ANCHOAS . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZETA . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA Y JAMON  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PROVOLONE . . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PALMITOS GENTLEMAN $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MIXTA . . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y ANANA (CARIBENA)  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO GRANDE . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZZETA Y JAMON  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGA RELLENA . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGA RELLENA C/JAM $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ROQUEFORT . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS GENTLEMAN  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MIXTA . . . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y ANANA . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA AJO AL OLEO . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZETA C/JAMON .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUEFORT . . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE VERDURA . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CRUDO Y CHAMPIG .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PIN PUN . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE JAMON CRUDO Y RUCU $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDURA . . . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON CRUDO Y CHAMP $610</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PIN PUN . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CRUDO Y RUCULA . .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA COMPLETA $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA A LA SUIZA/FUGAZ $640</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA MUZZARELLA . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA S . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA S . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA ROQUEFORT $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA ESPINACA  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA RIOJANA . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE PIZZA . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE SUIZA . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE VERDEO . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO ESPECIAL . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PIN PUN . . . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA VERDEO/ESPINACA . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA SUIZA . . .  $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PORCIONES           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO 2 . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS NORTENAS . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA S . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS CON CHEDDAR  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TORTILLAS Y OMELETTE</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE DE JAMON O QUESO $400</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE MIXTO . . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO S . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA S . . . $470</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA  ENSALADAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALMUERZO . . . . . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIPAN CON FRITAS SALON $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA CHICA . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA GRANDE . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS COMPLETA O A PIACERE  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO PIN PUN .$1250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU CELIACOS       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PIZZA O TARTA CELIACOS .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS CELIACOS . . .  $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU PIBES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA AL VERDEO $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU INFANTIL . . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA AL VERDEO $630</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA ESPECIAL .  $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA ACOMPANAMIE</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHORIZO . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE MARIPOSA 800GRS . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO 600GRS .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 DE POLLO . . . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE DE CHORIZO . .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE DE TERNERA . . . $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CANELONES . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES . . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ÑOQUIS/TALLARINES . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT/AGNOLO . . . . .  $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ROSSINI . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL FUNGHY . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE/POLLO . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FIL/MA CRE/BLA/MIXT $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO S . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PICANTE O SUE SUE . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4QUESOS/GRAN CARUSO $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION ESTOFADO CARNE/PO $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PESTO/MANTECA . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISSIENNE . . . . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MOSCATO LITRO . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 750ML . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA DE CATENA ZAPATA  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ SELECCION 750ML . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 750ML . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN DE CATENA  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE 3/4 TINTO . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375 . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ SELECCCION 375ML .  $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>REC JAM QUE HUE ATUN PAL   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>REC/ DE AT /PALM/AN/JA/QU  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>REC TOMATE/ LECHUGA . . .  $20</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinvu/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
