    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                        
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS AL NATURAL . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>REC DULCE O CREMA . . . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO CHARLOTTE . . . .  $15</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS CON HELADO . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE LA PAMPA . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE TATIN . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE CLASICO BS AS . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZANA AL RHUM $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQ DE MNZA C HELADO  $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">HELADOS             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO MIXTO . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA PIN PUN PARA DOS . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $215</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO/BOMBON . . . . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinvu/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
