    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFES               </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION TOSTADAS . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFC/LECH+1/2TOSTADO'MIXT $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C/L + 3 LUNAS . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C/L CON TOSTADAS .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO AMERICANO + 2 LUNAS $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA CON FACTURAS  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGESTIVO/SABORIZADO . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE COCIDO . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS C/U . . . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MERMELADA / MEND . . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO A LA ITALIANA . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE . . . . . . . . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>COPITA DE LIMON . . . . .  $35</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC MANTECA O MERMELADA   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA DE MEDIALUNA $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center"> FUERA DE LISTA     </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-danger text-uppercase text-center">PROMO CAFETERIA     </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">Promociones </h6>                                   
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo cafetera              $0</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center"> FUERA DE LISTA     </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-danger text-uppercase text-center">PROMO CAFETERIA     </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">Promociones </h6>                                   
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo cafetera              $0</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinvu/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
