    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION TOSTADAS . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC MANTECA Y MERMELADA   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO AMERICANO + 2 LUNAS $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA CON FACTURAS  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGESTIVO/SABORIZADO . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE COCIDO . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>TE PIN PUN . . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS C/U . . . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MERMELADA / MEND . . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO A LA ITALIANA . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE . . . . . . . . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE IRLANDES . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CALIPSO . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC MANTECA O MERMELADA   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PORC MUZZA+CHOPP  $230</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PASTELERIA TORTAS   </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MASITAS X KG . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPAS X 3 U. . . . . . .   $25</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSCA DE PASCUAS . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON/CHEES/BROWNIE/INDIV $165</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU CASERITO . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION TARTA RICOTA/FROL $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTAS APPLE/BROWNIE . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESECAKE . . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA DE MEDIALUNA $200</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA DE MEDIALUNAS . .  $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinvu/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO RABAS + 2 CHOPP . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE1+HEINE+IMPER+PORRON . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILMES 330ML . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES CRISTAL LITRO . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS LITRO . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 1890 . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERVEZA 1 Y 1/2 LTS $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON CORO/PATAG/STOUT . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL / IPA 970ML . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>HEINEKEN 970ML . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES STOUT/1890 . . .  $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA PERSONAL . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>BEBIDAS 1,5L . . . . . .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO JUGO+TOSTADO . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>COPITA DE LIMON . . . . .  $35</li>                          
                <li class="text-center"><span class="fa-li"></span>RED BULL . . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADA/LEVITE .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BEBIDAS . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO EXPRIMIDO NARANJA .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS AL AGUA . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE/NARANJ $190</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADA LEVITE .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON DE SODA 500 . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIV/CHAMPAG/WHI</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>WHISKY BLENDERS PRIDE . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA BATIDO . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA/CAMPARI . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET MEDIDA/CAMPARI . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE CHANDON EXTRA B $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . .  $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">EXPRIMIDOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMC/LECHE+TOSTADOMIXTO  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFC/LECH+1/2TOSTADO'MIXT $230</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO+TOSTADO'MIXTO . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO+1/2TOST'MIXTO . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C/L + 3 LUNAS . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C/L CON TOSTADAS .  $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinvu/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA CLASICA . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZARELLA Y JAMON  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZARELLA Y MORRON $500</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE JAMON Y MORRONES . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE DE ANCHOAS . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA (CEBOLLA Y OREG)  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA (MUZZAR Y CEBOL $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITANA . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITANA Y JAMON $610</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CALABRESA . . . .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PROVOLONE . . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PALMITOS GENTLEMAN $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MIXTA . . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y ANANA (CARIBENA)  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO GRANDE . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZZETA Y JAMON  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGA RELLENA . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGA RELLENA C/JAM $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ROQUEFORT . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE VERDURA . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CRUDO Y CHAMPIG .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PIN PUN . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE JAMON CRUDO Y RUCU $800</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DOBLE MUZZARELLA  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA AL VERDEO . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA RELLENA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON CRUDO Y CHAMP $480</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON O MORRONES   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPO . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON Y MORRONES   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC CANCHA/AJO/FUGAZZA .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZA . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGA RELLENA . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGAZZA RELL C/JAMON $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA CLASICA . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZARELLA Y JAMON . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZARELLA Y MORRONE $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y MORRONES .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ANCHOAS . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZETA . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA Y JAMON  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS GENTLEMAN  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MIXTA . . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y ANANA . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA AJO AL OLEO . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZETA C/JAMON .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUEFORT . . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDURA . . . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON CRUDO Y CHAMP $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PIN PUN . . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CRUDO Y RUCULA . .  $630</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA DE EMPANADAS $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA DE EMPANADAS . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS . . . . . . . .  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA COMPLETA $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA A LA SUIZA/FUGAZ $640</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA MUZZARELLA . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA S . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA S . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA ROQUEFORT $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA ESPINACA  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA RIOJANA . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE DE TERNERA . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE PIZZA . . . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE SUIZA . . . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE VERDEO . . . . . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO ESPECIAL . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PIN PUN . . . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA VERDEO/ESPINACA . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA SUIZA . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . . $1100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PORCIONES           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTA JAMON Y QUESO7/VERD $300</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION FRITAS O PURE   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC/FRITAS/ARROZ/PURE .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION ESPECIAL . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO 2 . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS NORTENAS . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA S . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS CON CHEDDAR  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNI FRITAS CON CHEDDAR $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA CHICA . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA GRANDE . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS COMPLETA O A PIACERE  $380</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TORTILLAS Y OMELETTE</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE DE JAMON O QUESO $400</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE MIXTO . . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO S . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA S . . . $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA  ENSALADAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PLATO DE FIAMBRE VARIOS . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIPAN CON FRITAS SALON $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU CELIACOS       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PIZZA O TARTA CELIACOS .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS CELIACOS . . .  $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILANESAS/SUPREMAS  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA AL VERDEO $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU INFANTIL . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA AL VERDEO $630</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA ESPECIAL .  $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA ACOMPANAMIE</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHORIZO . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLETA A LA PARRILLA . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLETA NAPO . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO A LA TOSCANA/PIN PUN$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO AL VERDEO/CHAMPIGNON$1150</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE MARIPOSA 800GRS . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO ESPECIAL . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO 600GRS .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 DE POLLO . . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE DE CHORIZO . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE DE TERNERA . . . $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NOQUIS DEL 29 . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES . . . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS/TALLARINES . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT/AGNOLO . . . . .  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ROSSINI . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL FUNGHY . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE/POLLO . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FIL/MA CRE/BLA/MIXT $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO S . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PICANTE O SUE SUE . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4QUESOS/GRAN CARUSO $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION ESTOFADO CARNE/PO $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PESTO/MANTECA . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISSIENNE . . . . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO PORCION . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/ANANA . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/PALMITOS .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON DE AVE . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZARELLITAS ACEITE OLIVA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MOZZARELLA . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RODAJAS DE ANA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PORCION DE RABAS . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE ATUN O AVE .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PLATITO DE FIAMBRE C/U .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPAN               </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE VIGILIA . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA GALLEGA . . . .  $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VINO DEL DIA SUGERIDO . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO LITRO . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA 3/4 . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 750ML . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA DE CATENA ZAPATA  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ SELECCION 750ML . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 750ML . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN DE CATENA  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE VINO O MOSCATO .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE 3/4 TINTO . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375 . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ SELECCCION 375ML .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON SODA GRANDE . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA COPA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA JARRA 1/2 LIT $180</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA JARRA LITRO . $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDWICH CRUDO SOLO . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDWICH CRUDO Y QUESO .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDWICH CRUDO CLASICO .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 TOSTADO MIXTO . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>REC JAM QUE HUE ATUN PAL   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>REC/ DE AT /PALM/AN/JA/QU  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>REC TOMATE/ LECHUGA . . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DE CHEDDAR . . .   $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinvu/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS AL NATURAL . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>REC DULCE O CREMA . . . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO CHARLOTTE . . . .  $15</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS CON HELADO . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE LA PAMPA . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE TATIN . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE CLASICO BS AS . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZANA AL RHUM $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQ DE MNZA C HELADO  $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">HELADOS             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO MIXTO . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA PIN PUN PARA DOS . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $215</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO/BOMBON . . . . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinvu/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
