    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILMES 330ML . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES CRISTAL LITRO . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS LITRO . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 1890 . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERVEZA 1 Y 1/2 LTS $340</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON CORO/PATAG/STOUT . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>HEINEKEN 970ML . . . . .  $315</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES STOUT/1890 . . .  $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO JUGO+TOSTADO . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADA/LEVITE .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BEBIDAS . . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO EXPRIMIDO NARANJA .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS AL AGUA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE/NARANJ $160</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADA LEVITE .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON DE SODA 500 . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIV/CHAMPAG/WHI</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>WHISKY BLENDERS PRIDE . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA BATIDO . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA/CAMPARI . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA 3/4 . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE CHANDON EXTRA B $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . .  $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">EXPRIMIDOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMC/LECHE+TOSTADOMIXTO  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO+TOSTADO'MIXTO . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO+1/2TOST'MIXTO . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinvu/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
